<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Leah Zulas</title>
    

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    body {
      padding-top: 70px;
    }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-1">
          <span class="sr-only">Toggle navigation</span>
          </button>
          <span class="navbar-brand">Zulas Stock Ticker App</span>
        </div>

        <div class="collapse navbar-collapse" id="nav-1">
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/alzulas/flask-framework">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.thedataincubator.com/12day.html">12-day</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>About Leah Zulas, PhD</h2>
          <p><a href="/">Home</a></p>
          <p>Hi, I'm Leah! I'm a Data Scientist well versed in programming, statistics, machine learning and A/B testing. I've spent over 7 years working on smart homes and cloud technology on interdisciplinary teams and really enjoy working on hard problems with teams that have a diversity of backgrounds. I have a passion for tackling tough R&D problems in smart homes, robotics, health care technology, or any place where I can make a tangible difference in the world.</p>
          <p>Skills: Python, SQL, Pandas, Scikit-learn, Machine Learning </p>
          
          <h2>About the Wikipedia Tool</h2>
          <p>In the current social climate, misinformation has become a tool for election tampering, conspiracy theories, and general distrust of the media. It becomes hard to know what is true. Wikipedia is well known source of honest information on the internet, and people frequently use it as a source of truth.</p> 
 
            <p>However, Wikipedia is moderated by volunteers, who can’t possibility be everywhere at once. This means that malicious actors can overwhelm the moderators or write misinformation into smaller pages that don’t get as much visibility.</p>

            <p>My goal is to create a tool that can use meta-data and change logs to find changes that might be problematic, and alert moderators to these potential problems or stop some changes before they are even added to the page. 
            </p>
            
            <p>Information has been collected from wikipedia, from controversial pages that would have the greatest number of changes. </p>

            <p>Whenever a change is made to a page, that change is logged, and moderators can flag changes with "reverted”, "returning to prior versions”, or ”vandalism”, these are the most likely changes to include misinformation. By following these items I have found the side effect of also locating rule breakers, such as change being too long or edit not containing reasoning for change.</p>

            <p>Comments, change logs, and number of changes have been used to show which edits are most likely to be reverted using Bayesian and Ridge algorithms. Moderators are then able to find this list in my tool. </p>

            
          <h3>This tool is brought to you by:</h3>
              <ul>
                <li><a href="/about">About</a></li>
                <li><a target="_blank" href="https://www.heroku.com/">Heroku</a></li>
                <li><a target="_blank" href="http://flask.pocoo.org/">Flask</a></li>
                <li><a target="_blank" href="http://jinja.pocoo.org/docs/2.9/">Jinja2</a></li>
                <li><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></li>
                <li><a target="_blank" href="https://docs.bokeh.org/en/">Bokeh</a></li>
              </ul>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>